# Compiled class files
*.class
*.target
target/
*/target/
*/metastore_db/**
**/out/**

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Mac files
.DS_Store

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar